.back {
	position: absolute;
	height: 200px;

}
.front {
	height: 200px;
	transform: rotateY(180deg);
	position: absolute;

}
.card .front, .card .back {
	transition: all 0.5s; 
	backface-visibility: hidden;
}
.card img:hover {
	transform: translate(0,-10px);
	box-shadow: 0 5px 5px 0 #333;
}
