body {
	background: url("../Img/Bút máy/background.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	max-width: 99%;
}
a:link {color: black; text-decoration: none;}
a:visited {color: black;text-decoration: none;}
a:hover {color: violet;text-decoration: none;}
a:active {color: grey;text-decoration: none;}
p#p01 {text-indent: 60px;}
.i00 {border: 5px solid orange;
	border-radius: 500px;
	width: 500px;
	height:125px;
	margin: auto;	
	}
.i01 {
	font-style: bold;
	font-size: 20px;
	}
.i02 {border: 5px solid orange;
	border-radius: 500px;
	width: 500px;
	display: block;
    margin: 0 auto;
}
.i03 {border: 5px solid orange;
background: white ;
width: 50%;}		
table, th, td {
	border: 10px white;
}
div {color: white;}	 
caption {font-style: bold;
	font-style: italic;
	text-transform: uppercase;
	font-size: 50px;}
td {text-align: center;
width: 50%;
padding: 30px;}
.active {background-color: orange;}
.active div {color: black;
	font-weight:bold;}
ul {
	list-style-type: none;
	overflow: hidden ;
	margin: auto;
	width: 95%;
	background-color: #333;
	border-radius: 20px;
	border: 2px solid #333;
}
li {float: left;
	border-right: 1px solid #333;}
li a{display: block;
	color: white ;
	text-align:center;
	padding: 20px;
	text-decoration: none;
	width: 75px;
	}
li a:hover { background-color: orange;
	color: black; } 
	

